*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#d2001a,#7462ff,#8beaf2);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    } 
}
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 20px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .logo{
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}
.logo h2:hover, 
.logo h2:focus, 
.logo h2:active {
    text-shadow: 0 0 10px rgb(200, 0, 0);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s;
}
.navbar .logo img{
    width: 120px;
    margin-top: -20px;
}

/******SIDEBAR******/
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px; 
    height: 100vh; 
    background-color: #FFF4F6; 
    padding: 32px 16px;  
    border-radius: 20px 0 0 20px;
    z-index: 10;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);
    border: solid 2px #000000;
}

.sidebar .user img {
    width: 100px;
    margin-top: -5px;
    border-radius: 100%;
    border: 2px solid #000000;
    margin-left: 10px;
}
.profile a {
    text-decoration: none;
}
.bold {
    font-size: .8rem;
    display: justify;
    top: -10px;
    cursor: pointer;
    color: #000000;
    padding-left: 40px;
    align-content: center;
}
.bold:hover{
    background: #C7C7C7;
    width: 120px;
    align-items: center;
    border-radius: 5px;
}
.sidebar .icon_items ul{
    list-style: none;
    margin-top: 10px;
    padding: 2px 0;
}
.sidebar .icon_items ul li{
    cursor: pointer;
    margin-top: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    padding: 15px 0;
    margin-left: -15px;
    width: 145px;
}
.sidebar .icon_items ul li:last-child {
    border: border-box;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #C7C7C7;
    padding: 5px 0;
    font-size: 0.8rem;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 40px;
    width: 100px;
}
.icon_items .active,
.sidebar .icon_items ul li:hover{
    background: #C7C7C7;
    width: 145px;
    border-radius: 10px;
}
.icon_items .active,
.sidebar .icon_items ul li:last-child:hover{
    background: #642121;
    color: #fff;
    width: 100px;
}
.sidebar .icon_items ul li:last-child:hover a {
    color: #fff;
}
.sidebar .icon_items ul li i{
    font-size: 1rem;
    padding: 0 12px;
}
.sidebar .icon_items ul li a{
    text-decoration: none;
    color: #000000;
}


/******MAIN******/
.upldbox {
    display: grid;
    place-content: center;
    margin-top: 150px;
}

.upldbox input[type="file"]{
    display: inline-block;
    opacity: 0;
    width: 0;
}
#selectedFileName{
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}

.upldbox label {
    color: #000000;
    font-size: 1rem;
    font-weight: 800;
    padding: 10px 50px;
    background: #C7C7C7;
    cursor: pointer;
    border: 2px solid #000000;
}
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
}

.popup .container {
    padding: 20px;
    border-radius: 5px;
    outline: none;
    transform: scale(0);
    transition: all 300ms ease-in-out;
    z-index: 3; 
}

.popup.active .container {
    transform: scale(1);
}

.pldbtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 4; 
}

.pldbtn {
    display: inline-block;
    color: #ffff;
    background: #00802C;
    text-align: center;
    padding: 15px 60px;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
    border-radius: 0 100px 0 100px;
    border: 5px solid #000000;
    z-index: 5; 
}
.btn-container {
    display: grid;
    place-content: center;
    z-index: 6;
  }
  
  .quizBtn,
  .reviewerBtn {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 40px;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #000000;
    z-index: 7;
  }
  
  .quizBtn {
    background: #0066CC;
  }
  
  .reviewerBtn {
    background: #CC0000;
  }

  /*****ABOUT US******/

  .about {
    border: border-box;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #dcf4e4;
    padding: 5px 0;
    font-size: 0.8rem;
    position: absolute;
    left: 47%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 460px;
    height: 500px; 
    padding: 20px;
    transition: all 0.5s ease;
}
.about p{
    font-size: .8rem;
    font-family: 'popins';
}
.about h1{
    font-size: 1.1rem;
    font-family: 'popins';
    margin-bottom: 20px;
    text-align: center;
}
.about span {
    position: absolute; 
    top: 15px; 
    left: 10px; 
}

.about span a {
    text-decoration: none; 
}

.about span i {
    font-size: 1.7rem; 
    color: #000000;
}

/******edit profile******/
.edit_profile{
    border: border-box;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 420px;
    height: 480px;
    background: #dcf4e4;
    position: absolute;
    left: 47%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    transition: all 0.5s ease; 
}
.edit_profile .up_img {
    position: relative;
    display: inline-block;
    top: -80px;
    margin-bottom: -50px;
  }
  
  .edit_profile .up_img label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #717171;
    pointer-events: none;
  }
  .edit_profile .input-field .lchng{
    padding-bottom: 10px;
  }
  .edit_profile .input-field .lchng span{
    width: 150px;
  }
  
  
  .edit_profile .up_img input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 2px dashed #ccc;
    background-color: #f5f5f5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .edit_profile .up_img input[type="file"]::-webkit-file-upload-button {
    display: none;
  }
  
  .edit_profile .up_img input[type="file"]::before {
    content: 'Upload Picture';
    color: #717171;
  }
  
  .edit_profile .up_img input[type="file"]:hover {
    border-color: #aaa;
  }
  
  .edit_profile .up_img input[type="file"]:focus {
    outline: none;
    border-color: #717171;
  }
  
  .edit_profile .up_img input:required + label::before {
    content: '\*';
    color: red;
    margin-right: 2px;
  }
  .edit_profile .form-content h2{
    font-family:Georgia, serif;
    color: rgb(88, 90, 240);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 80px;
    padding-top: 20px;
  }
  .edit_profile span {
    position: absolute; 
    top: 15px; 
    left: 10px; 
}

.edit_profile span a {
    text-decoration: none; 
}

.edit_profile span i {
    font-size: 1.7rem; 
    color: #000000;
}

/*********SUBSCRIPTION********/

.subs {
    border: border-box;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #EDFFF3;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid#000000;
  }
  .subs .back{
    position: absolute; 
    top: 15px; 
    left: 10px;
    font-size: 2rem;
    
  }
  .subs .back span a{
    color: #000;
    text-decoration: none;
  }
  
  .subs .box-contain2{
    max-width: 1200px;
    margin:0 auto;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
  }
  
  .subs .box-contain2 .box2{
    background: #fff;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    width: 250px;
    height: 400px;
   border-radius: 10px;
  }
  
  .subs .box-contain2 .box2 .basic{
    font-size: 1.5rem;
    padding: 10px 0;
    color:#444;
    background: #B2E3E7;
    border-radius: 10px;
  }
  .subs .box-contain2 .box2 .standard{
    font-size: 1.5rem;
    padding: 10px 0;
    color:#444;
    background: #F8DCDF;
    border-radius: 10px;
  }
  .subs .box-contain2 .box2 .premium{
    font-size: 1.5rem;
    padding: 10px 0;
    color:#444;
    background: #E3E090;
    border-radius: 10px;
  }
  
  .subs .box-contain2 .box2 .price1{
    color:#000000;
    font-weight: bolder;
    font-size: 1.8rem;
    padding: 20px;
    background: #DBF7FA;
  }
  .subs .box-contain2 .box2 .price2{
    color:#000000;
    font-weight: bolder;
    font-size: 1.8rem;
    padding: 20px;
    background: #FFF4F6;
  }
  .subs .box-contain2 .box2 .price3{
    color:#000000;
    font-weight: bolder;
    font-size: 1.8rem;
    padding: 20px;
    background: #F0F1C0;
  }
  
  .subs .box-contain2 .box2 .price.year{
    display: none;
  }
  
  .subs .box-contain2 .box2 .list{
    margin:5px;
  }
  
  .subs .box-contain2 .box2 .list p{
    padding:8px 0;
    font-size: 17px;
    color:#666;
  }
  
  .subs .box-contain2 .box2 .list p i{
    padding-right: 5px;
    color:crimson;
  }
  
  .subs .box-contain2 .box2 .btn1{
    border: border-box;
    border-radius: 10px;
    border: 2px solid #000;
    font-size: .8rem;
    background: #B2E3E7;
    padding:5px 15px;
    text-decoration: none;
    color: #000;
  }
  .subs .box-contain2 .but{
    margin-top: 20px;
  }
  
  .subs .box-contain2 .box2 .btn1:hover{
    background: #91d4da;
  }

  .subs .box-contain2 .box2 .btn2{
    border: border-box;
    border-radius: 10px;
    border: 2px solid #000;
    font-size: .8rem;
    background: #F8DCDF;
    padding:5px 15px;
    text-decoration: none;
    color: #000;
  }
  
  .subs .box-contain2 .box2 .btn2:hover{
    background: #edb9be;
  }

  .subs .box-contain2 .box2 .btn3{
    border: border-box;
    border-radius: 10px;
    border: 2px solid #000;
    font-size: .8rem;
    background: #E3E090;
    padding:5px 15px;
    text-decoration: none;
    color: #000;
  }
 
  .subs .box-contain2 .box2 .btn3:hover{
    background: #d5d15f;
  }
  
  .subs .price-toggler{
    margin-top: 10px;
    display: inline-block;
    padding: 5px;
    border:2px solid #000;
    background: #fff;
    border-radius: 10px;
  }
  
  .subs .price-toggler span{
    padding:7px 10px;
    cursor: pointer;
    color:#444;
    font-size: 20px;
    display: inline-block;
  }
  
  .subs .price-toggler span.active{
    background: #7bc192;
    color:#000000;
    transition: all .5s ease-in-out;
    border-radius: 10px;
  }
  
  @media (max-width:450px){
    .subs .box-contain2{
      grid-template-columns: 1fr;
    }
  }